/*John Plank
Term 06/12
MUI Project 4
Apocalypse Checklist*/

/*div.addItem*/ {
    top: 10px;
    left: 10px;
    color: white;
    padding: 30px 30px 30px 30px;
    /*font-family: 'Helvetica Neue', Helvetica, sans-serif;*/
    /*font-weight: bold;*/
    font-size: 10px;
    /*-webkit-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*background: -webkit-gradient(linear, left top, left bottom,*/
    /*from(#838383),
    color-stop(.49, #444444),
    color-stop(.49,#303030),
    to(#333333));*/
    /*border: solid 1px rgba(79, 79, 79, 0.75);*/
    text-align: right;
    background-image: url("images/Header.png") no-repeat;
    height: 40px;
}

h4 { /*top: 25px;
    left: 50px;*/
    /*color: white;*/
    padding: 75px 50px 50px 25px;
    /*font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 08px;*/
    /*-webkit-border-radius: 1px;*/
    border-radius: 1px;
    /*background: -webkit-gradient(linear, left top, left bottom,*/
    /*from(#838383),*/
    /*color-stop(.49, #444444),
    color-stop(.49,#303030),
    to(#333333));
    border: solid 1px rgba(79, 79, 79, 0.75);*/
    text-align: center;
    /*background-image: url("images/Zombie.png");*/
}

fieldset {
	background: #caab87;
    color: black;
}

html {
	color: black;
    background: #caab87;
   /* background-image: url("images/index.png");*/
   /* color: white;*/
}

div {
    background: #caab87;
}

ul {
    background: #caab87;
}


small {
	font-style: italic;
    color: black;
}

h2 {
	color: black;
	text-align: left;
	}


h3 {
	font-style: italic;
	text-align: left;
    color: black;
    margin-bottom: 0px;
    background: ;
}

 li {
 
 	font-weight: bold;
 }

body {
    background: #caab87;
}

 /*legend {
 	font-style: italic;
 	border: 1px solid black;
 	background: #99998c;
 	color: white;
 	font-weight: bolder;
 }*/

 h1 {
    /*background-image: url("images/head.png");*/
    vertical-align:center;
}

/*input.addItem  {
    padding-top: 20px;
    background-image: url("images/hourGlass.png");
}*/

/*div.page {
    color: black;
}
*/





.img-1 {
    padding-top: 10px;
    padding-left: 10px;
}

label.error {
    display: block;
    color: red;
    margin: 10px 0px;
}

#errorLink {
    display: none;
}





